[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "mspsite/themes/ananke"]
	path = mspsite/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
