{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}

        
      <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="business" value="NTEZZQC5KX6EY" />
      <input type="hidden" name="no_recurring" value="0" />
      <input type="hidden" name="item_name" value="TEST PAGE. Contact Ernie until further notice to donate and feed as many people as possible." />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>


      </div>
    </article>
  </div>
{{ end }}
